<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>11-组件通信-父子组件案例v-bind_v-on</title>
</head>
<body>
<!--———————————————————— 父组件模版 ————————————————————-->
<div id="app">
  <cpn :number1="num1" :number2="num2" @num1change="num1change" @num2change="num2change"/>
</div>
<!--———————————————————— 子组件模版 ————————————————————-->
<template id="cpn">
  <div>
    <h5>子传到父模版的数据props:{{number1}}</h5>
    <h5>父传到子的数据data:{{dnumber1}}</h5>
    <!--<input type="text" v-model="dnumber1">-->
    <input type="text" :value="dnumber1" @input="num1Input">
    <h5>子传到父模版的数据props:{{number2}}</h5>
    <h5>父传到子的数据data:{{dnumber2}}</h5>
    <!--<input type="text" v-model="dnumber2">-->
    <input type="text" :value="dnumber2" @input="num2Input">
  </div>
</template>
<textarea style="border:0px;outline:none;height:140px;width: 900px;">
  一、v-model动态双向绑定(赋初值)
  1、基本使用：直接绑定Vue实例中data数据
  2、组件使用：绑定子组件中data/computed数据
  （1）:value="dnumber1"
      父传子（即将父组件Vue实例中的data数据num1值，传给子组件模版的:value="dnumber1"）
  （2）@input="num1Input"
      子传父（即将子组件模版的:value="dnumber1"值，传给父组件Vue实例中的data数据num1,再传给父组件模版的props:{{number1}}）
</textarea>
<script src="../../static/document/js/vue/vue.js"></script>
<script>
  // 父组件
  const app = new Vue({
    el: '#app',
    data: {
      num1: 1,
      num2: 0
    },
    methods: {
      // 默认传入的参数类型为string
      num1change(value) {
        console.log("类型转换前，默认传入的的参数类型为----"+typeof value)
        this.num1 = parseFloat(value)
      },
      num2change(value) {
        this.num2 = parseFloat(value)
      }
    },
    // 子组件————2.2、在Vue实例中的注册局部组件components
    components: {
      cpn: {
        template: '#cpn',
        props: {
          number1: Number,
          number2: Number
        },
        data() {
          return {
            dnumber1: this.number1,
            dnumber2: this.number2
          }
        },
        // 使用选项methods来声明，子组件向父组件传递的事件
        methods: {
          num1Input(event) {
            /**
             * 1.获取子组件模版input中的:value="dnumber1"，并将其赋值到子组件数据data(){dnumber1中}
             * 2.子传父：在子组件中，通过$emit()来触发并向父组件传递事件: 自定义事件名num1change
             */ 
            this.dnumber1 = event.target.value;
            this.$emit('num1change', this.dnumber1)

            /**
             * 3.赋新值到子组件数据data(){dnumber2中}；
             * 4.子传父：在子组件中，通过$emit()来触发并向父组件传递事件: 自定义事件名num2change
             */ 
            this.dnumber2 = this.dnumber1 * 2;
            this.$emit('num2change', this.dnumber2);
          },
          num2Input(event) {
            /**
             * 1.获取子组件模版input中的:value="dnumber2"，并将其赋值到子组件数据data(){dnumber2中}
             * 2.子传父：在子组件中，通过$emit()来触发并向父组件传递事件: 自定义事件名num2change
             */ 
            this.dnumber2 = event.target.value;
            this.$emit('num2change', this.dnumber2);

            /**
             * 3.赋新值到子组件数据data(){dnumber1中}；
             * 4.子传父：在子组件中，通过$emit()来触发并向父组件传递事件: 自定义事件名num1change
             */ 
            this.dnumber1 = this.dnumber2 / 2;
            this.$emit('num1change', this.dnumber1);
          }
        }
      }
    }
  })
</script>

</body>
</html>