<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>05-v-model结合select类型</title>
</head>
<body>

<div id="app">
  <!--1.选择一个-->
  <select name="abc" v-model="fruit">
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="榴莲">榴莲</option>
    <option value="葡萄">葡萄</option>
  </select>
  <h2>您选择的水果是: {{fruit}}</h2>

  <!--2.选择多个-->
  <select name="abc" v-model="fruits" multiple>
    <option value="苹果">苹果</option>
    <option value="香蕉">香蕉</option>
    <option value="榴莲">榴莲</option>
    <option value="葡萄">葡萄</option>
  </select>
  <h2>您选择的水果是: {{fruits}}</h2>
  <hr>
  <p>3、select下拉框——值动态双向绑定（赋初值）</p>
  <select name="abc" v-model="fruits2" multiple>
    <option v-for="item in originFruits2" :value="item" >{{item}}</option>
  </select>
  <h2>您的爱好是: {{fruits2}}</h2>
  <hr>
  <p>4、select下拉框——值动态双向绑定（赋初值）</p>
  <select name="abc" v-model="fruits3" multiple>
    <option v-for="item in originFruits3" :value="item.id" >{{item.text}}</option>
  </select>
  <h2>您的爱好是: {{fruits3}}</h2>
</div>

<script src="../../static/document/js/vue/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: '你好啊',
      // 单选框 String类型
      fruit: '香蕉',
      // 多选框 数组类型
      fruits: [],
      
      // 值动态双向绑定（赋初值）
      originFruits2: ['樱桃', '荔枝', '芒果', '火龙果'],
      fruits2: [],
      originFruits3: [{id:'yingtao',text:'樱桃'},{id:'lizhi',text:'荔枝'},{id:'mangguo',text:'芒果'},{id:'huolongguo',text:'火龙果'}],
      fruits3: []
    }
  })
</script>

</body>
</html>