<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>02-Vue列表展示</title>
</head>
<body>

<div id="app">
  <ul>
    <li v-for="item in movies">{{item}}</li>
  </ul>
  <ul>
    <li v-for="(item, index) in movies">{{index+1}}.{{item}}</li>
  </ul>
</div>

<script src="../../static/document/js/vue/vue.js"></script>
<script>
  /**
   * @Description： 一、编程范式: 声明式编程/响应式布局（面向对象）
   * @VueOption：el       类型：string | HTMLElement；作用：决定之后Vue实例会管理哪一个DOM（即用于挂载要管理的元素）。
   * @VueOption：data     类型：Object | Function （组件当中data必须是一个函数）；作用：Vue实例对应的数据对象。
   * @VueOption：methods  类型：{ [key: string]: Function }；作用：定义属于Vue的一些方法，可以在其他地方调用，也可以在指令中使用。
   * @Question：开发中什么时候称之为方法，什么时候称之为函数？
              <script>
                  // 函数
                  function abc(){}
                  // 对象类
                  function Person(){
                      // 方法    
                      def();
                  }
              <script>
   * @CodeSteps：                
   * 
    */
  const app = new Vue({
    // 类型：string | HTMLElement；作用：决定之后Vue实例会管理哪一个DOM（即用于挂载要管理的元素）。
    el: '#app',
    // 类型：Object | Function （组件当中data必须是一个函数）；作用：Vue实例对应的数据对象。
    data: {
    	movies: ['星际穿越', '大话西游', '盗梦空间']
    }
  })
</script>
</body>
</html>