<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>02-Vue列表展示</title>
</head>
<body>

<div id="app">
  <ul>
    <li v-for="item in movies">{{item}}</li>
  </ul>
  <ul>
    <li v-for="(item, index) in movies">{{index+1}}.{{item}}</li>
  </ul>
</div>

<script src="../../static/document/js/vue/vue.js"></script>
<script>
  const app = new Vue({
    // 类型：string | HTMLElement；作用：决定之后Vue实例会管理哪一个DOM（即用于挂载要管理的元素）。
    el: '#app',
    // 类型：Object | Function （组件当中data必须是一个函数）；作用：Vue实例对应的数据对象。
    data: {
    	movies: ['星际穿越', '大话西游', '盗梦空间']
    }
  })
</script>
</body>
</html>